fastapi
uvicorn

pydantic
pydantic-settings
python-multipart

loguru

requests
httpx

html2text
# NB on debian: apt install libmagic1
# on windows maybe consider mimetypes for guessing from extensions
python-magic

pytest
pytest-asyncio
pytest-mock
